<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lumino - Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/static/css/AdminLTE.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Google Font -->

    <script>

        window.setTimeout(function () {
            $('[role="alert"]').alert('close');
        }, 2000);

    </script>
    {% if messages %}
        <div class="alert alert-danger" role="alert">
            {{ messages }}
        </div>
    {% endif %}
</head>
<body class="hold-transition register-page">
<div class="login-box">
    <div class="login-logo">
        <a href="/login"><b>后台</b>工具</a>
    </div>

    <div class="login-box-body">
        <p class="login-box-msg">登陆</p>

        <form action="/login/" method="post" class="form">

            <div class="form-group">
                <label for="uname1">用户名</label>
                <input type="text" class="form-control form-control-lg rounded-0" name="account" id="account"
                       required="">
                <div class="invalid-feedback">Oops, you missed this one.</div>
            </div>
            <span class="glyphicon glyphicon-user form-control-feedback"></span>

            <div class="form-group">
                <label>密码</label>
                <input type="password" class="form-control form-control-lg rounded-0" id="password" name="password"
                       required="" autocomplete="new-password">
                <div class="invalid-feedback">Enter your password too!</div>
            </div>
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>

            <div class="row">
                <div class="col-xs-8">
                    <!--
                    <div class="checkbox icheck">
                      <label>
                        <input type="checkbox"> I agree to the <a href="#">terms</a>
                      </label>
                    </div>
                    -->
                </div>
                <!-- /.col -->

                <div class="col-xs-4">
                    <button type="submit" class="btn btn-success btn-sm float-right btn-flat" id="btnLogin"><i
                            class="fa fa-key"></i> 登陆
                    </button>&nbsp;
                    <!--<a href="/overview/" class="btn btn-primary btn-block btn-flat">提交注册</a>-->
                </div>
                <!-- /.col -->

            </div>

        </form>

        <!--
        <div class="social-auth-links text-center">
          <p>- OR -</p>
          <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Sign up using
            Facebook</a>
          <a href="#" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i> Sign up using
            Google+</a>
        </div>
        -->
    </div>
    <!-- /.form-box -->
</div>
<!-- /.register-box -->

<!-- jQuery 3 -->
<script src="/static/js/jquery.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="/static/js/bootstrap.min.js"></script>
<script>
    $(function () {
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '40%' /* optional */
        });
    });
</script>
</body>
</html>
