<!DOCTYPE html>
<html>
<head>
    <title>Bootstrap 实例</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.staticfile.org/vue/2.4.2/vue.min.js"></script>
    <script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>
</head>
<body class="text-center">
<div class="container" id="app">
<!--    <br>  -->
<!--    <div class="alert alert-success alert-dismissable fade show" id="success" v-if="success_show">-->
<!--        <button type="button" class="close" data-dismiss="alert">×</button>-->
<!--        <strong>充值成功!</strong>-->
<!--    </div>-->
<!--    <div class="alert alert-danger alert-dismissable fade show" id="error" v-if="error_show">-->
<!--        <button type="button" class="close" data-dismiss="alert">×</button>-->
<!--        <strong>充值失败!</strong>-->
<!--    </div>-->
    <br>
    <form @submit.prevent="search">
    <h2 class="form-signin-heading">查询用户积分</h2>
    <label for="inputEmail" class="sr-only">用户id</label>
    <input type="text" id="inputEmail" class="form-control" placeholder="用户id" v-model="open_id" required
           autofocus></br>
    <button class="btn btn-lg btn-primary btn-block" type="submit">查询</button>
    </form>
    </br>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>用户名</th>
            <th>手机号码</th>
            <th>公司名</th>
            <th>积分</th>
        </tr>
        </thead>
        <tbody>
        <tr v-if="username!=''">
            <td>{{ username }}</td>
            <td>{{ phone }}</td>
            <td>{{ company_name }}</td>
            <td>{{ new_score }}</td>
        </tr>
        </tbody>
    </table>
    <form @submit.prevent="update">
    <label for="inputPassword" class="sr-only">充值积分</label>
    <input type="text" id="inputPassword" class="form-control" placeholder="充值积分" v-model="score" required>
    <div class="checkbox">
    </div>
    </br>
    <button class="btn btn-lg btn-primary btn-block" type="submit">充值</button>

    </form>
</div>
<script type="text/javascript">

    var vm = new Vue({
        el: '#app',
        data: {
            open_id: '',
            score: '',
            phone: '',
            username: '',
            company_name: '',
            new_score: '',
            success_show:'',
            error_show:''
        },
        methods: {
            update: function () {
                //发送post请求
                this.$http.post('/update_score', {'open_id': this.open_id, 'score': this.score}).then(function (res) {
                    console.info(res.data)
                    if (res.data.status == 'success') {
                        this.search()
                        this.score = ''
                    } else {
                        console.log('error')
                    }
                }, function () {
                    console.log('请求失败处理');
                });
            },
            search: function () {
                //发送post请求
                this.$http.post('/user_info', {'open_id': this.open_id}).then(function (res) {
                    if (res.data.status == 'success') {
                        this.new_score = res.data.data.score
                        console.log(this.new_score)
                        this.username = res.data.data.user_name
                        this.company_name = res.data.data.company_name
                        this.phone = res.data.data.phone
                    } else {

                    }
                }, function () {
                    console.log('请求失败处理');
                });
            }
        }
    });

</script>
</body>
</html>